.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 330px;
    overflow-y: auto;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    background: lightgrey;
    border: 1px solid black;
    margin-top: 5px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 440px;
}

.inputWrapper {
    display: flex;
}

.input {
    flex-grow: 1;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}